@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'financier_font';
    src: url('/fonts/financier_font.woff') format('truetype');
    /* Add other font formats if necessary */
}

body {
    // font-family: 'financier_font', sans-serif;
    font-family: minion-pro;
}


::selection {
    background: #9D9588;
}


.container_wrapper {
    width: calc(100% - 540px);
    margin: 0 auto;
    overflow: hidden;
    padding: 10px;
}

.item1 { grid-area: card1; }
.item2 { grid-area: card2; }
.item3 { grid-area: card3; }
.item4 { grid-area: card4; }
.item5 { grid-area: card5; }
.item6 { grid-area: card6; }

.grid-container {
    display: grid;
    grid-template-areas:
      'card1 card1 card1 card1 card2 card2 card3 card3 card3 card3'
      'card4 card4 card4 card4 card2 card2 card3 card3 card3 card3'
      'card4 card4 card4 card4 card5 card5 card5 card6 card6 card6';
    gap: 15px;
}


.info_screen {
    opacity: 1;
    transition: 1s;
    p,
    button,

    h2 {
        transition: .9s;
    }

    p {
        transition-delay: .1s;
    }

    button {
        transition-delay: .2s;
    }

    &.hide_screen {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;

        h2,
        p,
        button {
            transform: translateY(-100px);
            opacity: 0;
        }
    }

}

.full_screen_slider {

    .slick-list,
    .slick-slide>div,
    .slick-slide,
    .slick-track {
        height: 100% !important;
    }

    .slick-dots {
        bottom: 50%;
        transform: translateY(50%);
        width: auto;
        right: 40px;
        display: flex !important;
        flex-direction: column;
    }

    .slick-dots {
        li button:before {
            font-size: 16px;
            color: #FDFDFD;
            opacity: 1;
        }

        .slick-active button:before {
            color: #938068;
        }

    }

}

.availability_slider {

    .slider_wrapper,
    .slick-slider,
    .slick-slide>div,
    .slick-slide>div>div,
    .slick-list {
        width: 100%;
        height: 100%;
    }

    .slick-slide>div>div {
        display: flex !important;
        justify-content: center;
        align-items: center;
        padding: 0 80px;

        @media (max-width: 800px) {
            padding: 0 40px;
        }
    }

    .slick-track {
        height: 100%;
    }

    .slick-next {
        right: 15px;
        background: #ccc !important;
        opacity: .9;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        overflow: hidden;
        z-index: 2;

        @media (max-width: 800px) {
            width: 30px;
            height: 30px;
            right: 5px;
        }

        &:hover {
            opacity: 1;
        }

        &::before {
            content: '';
            background: url('../assets/images/availability/arrow-right.svg') center / 100% 100% no-repeat !important;
            width: 100%;
            height: 100%;
            display: block;
            background: white;
            border-radius: 100%;
            margin-left: 2px;

        }
    }

    .slick-prev {
        left: 15px;
        background: #ccc !important;
        opacity: .9;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        overflow: hidden;
        z-index: 2;

        @media (max-width: 800px) {
            width: 30px;
            height: 30px;
            left: 5px;
        }

        &:hover {
            opacity: 1;
        }

        &::before {
            content: '';
            background: url('../assets/images/availability/arrow-left.svg') center / 100% 100% no-repeat !important;
            width: 100%;
            height: 100%;
            display: block;
            background: white;
            border-radius: 100%;
            margin-left: -2px;

        }
    }

}


#header {
    height: 140px
}

@media screen and (max-width: 1600px) {
    .container_wrapper {
        // width: calc(100% - 160px);
        max-width: 1180px;
        overflow: hidden;
        padding: 10px;
    }

    #header {
        height: 100px
    }
}

@media screen and (max-width: 1280px) {
    .container_wrapper {
        // width: calc(100% - 120px);
        max-width: 1180px;
        overflow: hidden;
        padding: 10px;
    }

    #header {
        height: 90px
    }
}

@media screen and (max-width: 1180px) {
    .container_wrapper {
        width: calc(100% - 120px);
        overflow: hidden;
        padding: 10px;
    }

    #header {
        height: 90px
    }
}

@media screen and (max-width: 1024px) {
    .container_wrapper {
        width: calc(100% - 80px);
        overflow: hidden;
        padding: 10px;
    }

    #header {
        height: 80px
    }
}

@media screen and (max-width: 768px) {
    .container_wrapper {
        width: calc(100% - 0px);
        overflow: hidden;
        padding: 10px;
    }

    #header {
        height: 80px
    }
}

// =====================global classes ===================
.text_primary {
    color: #9D9588;
}

.custom_select {
    ul {
        background: #9D9588;
        border: none;
        border-radius: 0;

        li {
            color: #fff;
            background: transparent !important;

            &:hover {
                background: transparent !important;
                color: #9D9588;
            }
        }
    }

    button {
        border-radius: 0;
    }

    label {
        color: white !important;
        border: none;
        outline: none;
        border-radius: none;

        &::after,
        &::before {
            border: none !important;
        }
    }

}

[data-floating-ui-portal] {
    .custom_dropdown_list {
        background: transparent;
        border: none;
        border-radius: 0;
        display: flex;
        margin-top: -29px;
        margin-left: -137px;
        box-shadow: none;

        &.active_lang {
            margin-left: -25px;
        }

        button {
            color: #9D9588;
            padding-top: 0;
            padding-bottom: 0;
            box-shadow: 0;
            // background: transparent !important;
        }
    }

}

.arrow_btn {
    border-color: transparent;
    border-top-color: #fff;
    border-width: 12px;
    transition: transform .2s ease-in-out;

    &:hover {
        transform: translateY(3px);
    }
}

.arrow-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;

    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -6px);
        transform: translate(-50%, -6px);
        width: 0;
        height: 0;
        border-top: 6px solid transparent;
        border-left: 6px solid #fff;
        border-bottom: 6px solid transparent;
        -ms-transform-origin: center center;
        transform-origin: center center;
        transition: all 1s cubic-bezier(.37, .03, 0, 1)
    }

    &.arrow-rotate:after {
        transform: translate(-50%, -6px) rotate(180deg);
    }
}




.custom_scrollbar::-webkit-scrollbar {
    width: 3px;
    /* width of the entire scrollbar */
}

.custom_scrollbar::-webkit-scrollbar-track {
    // background: #292929;
    /* color of the tracking area */
}

.custom_scrollbar::-webkit-scrollbar-thumb {
    background-color: #8B7359;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    // border: 3px solid orange;
    /* creates padding around scroll thumb */
}

.lightbox_screen {
    transform: scale(.9);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: left 0s ease-in-out, transform .5s ease-in-out, opacity .5s ease-in-out;
    transition-delay: .6s, .6s, 0s;
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    &.show_screen {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
        pointer-events: visible;
    }

    .btn_close {
        width: 30px;
        height: 30px;
        border: none;
        background: #9D9588;
        appearance: none;
        outline: none;
        cursor: pointer;
        position: fixed;
        right: 30px;
        top: 30px;
        padding: 0;
        z-index: 9999;
        display: inline-flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background: #000;
        }
    }

    @mixin position_center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .lightbox_image {
        visibility: visible;
        @include position_center;
        width: 100%;
        max-width: 90%;
        max-height: 90%;
        height: 100%;

        img {
            @include position_center;
            max-width: 100%;
            max-height: 100%;
            display: block;
            margin: 0 auto;
        }
    }
}

.historySlide .slick-slide {
    height: 500px;

    >div {
        width: 100%;
        height: 100%;
    }
}

.historyYearSlide .slick-slide {
    height: 100px;

    >div {
        width: 100%;
        height: 100%;
    }

    &.slick-current {
        button {
            color: #897158;
            transform: scale(1.5);
        }
    }
}

// =====================global classes ===================End